<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Saucedemo - Checkout Flow">

    <test name="Checkout Flow Test">
        <classes>
            <class name="com.avior.selenium.CheckoutFlowTest"/>
        </classes>
    </test>

</suite>
